.flexible{
    display: flex;
}
.a{
    width:50%
}
.b{
    Width:50%
}
.c{
    color:red
}
.a img{
    width:50%
}
.d{
    text-decoration:none;
    background-color: salmon;
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
}
.a{
    background-image:images > shapes > Group8447.png;
}
body{
    margin: 50px;
    border: 4px solid black;
    padding: 10px;
}
